
body{
	text-align: center;
	background-image: url(../img/fundo2.jpeg);
}

.grid {

	width: 840px;
	height: 630px;

	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-self: center;

	background: url(../img/fundo.jpeg);
	background-size: cover;

	border: 3px solid black;
	border-radius: 20px;
}

.square {
	height: 210px;
	width: 210px;

	background-size: cover;
	align-self: center;

    user-select: none;
}



.square image{
    width: 100px;
    height: 100px;
}

