*{
    background-color: rgb(31, 73, 128);
}

.grid {
    background-color: black;
	width: 850px;
	height: 750px;
	display: flex;
	flex-wrap: wrap;
}

.square {
	height: 255px;
	width: 281px;
	border: solid black 1px;
    background-color: rgb(122, 206, 231);
    
}



#tela{
    background-color: rgba(40, 194, 194, 0.993);
    width: 850px;
    height: 750px;
}

